.List {
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.Navlink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.Navlink h4 {
    color: aliceblue;
}


svg {
    color: aliceblue;
    font-size: 1.5rem;

}