.App {
    width: 100vw;
    height: 100%;
    display: flex;
    /* position: relative; */
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 248, 250);

}

:root {
    /* --primary: #8c114b; */
    --primary: #e1570c;
    --secondary: rgb(3, 3, 3, .2);
}